* {
  box-sizing: border-box;
}
body {
  /* background: linear-gradient(45deg, rgb(4, 22, 29),rgba(2, 33, 44, 0.792)); */
  /*
  background-attachment: fixed;
  background-repeat: no-repeat; */
  background: linear-gradient(
    -45deg,
    #86e3ce,
    #d0e6a5,
    #ffdd94,
    #fa897b,
    #ccabd8
  );
  /* background-repeat: no-repeat;
background-attachment: fixed; */
  background-size: 400% 400%;
  animation: backdrop 20s ease infinite;
}

@keyframes backdrop {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.App {
  text-align: center;
  font-family: "Nunito", sans-serif;
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  margin: 0%;
  /* background-image: url("https://img.freepik.com/free-vector/color-grunge-pattern-liquidity-style-background_1409-1432.jpg?w=1380&t=st=1669299480~exp=1669300080~hmac=242679dea3c13aa9fb8f315780e7647efd79fdde959910aa3e825ad75fb4e76c"); */
  /* background-size: contain, cover; */
  /* // background-position: center; Center the image */
  /* // background-repeat: no-repeat; Do not repeat the image */
  /* Resize the background image to cover the entire container */
}

.App table {
  border-collapse: collapse;
}

.App td,
.App th {
  padding: 1px 5px;
  vertical-align: top;
}
/* MySlider img {
  border-radius: 30%;
  margin: 0 auto;
} */
.SliderPics img {
  border-radius: 30%;
}
