* {
  box-sizing: border-box;
}

.FeaturedBusiness {
  padding: 0 3rem 0 3rem;
  display: flex;
  height: 90vh;
  /* flex-direction: column;
  position: relative; */
  margin-bottom: 8rem;
  margin-top: 2rem;
  margin-bottom: 6rem;
}

.f-right {
  flex: 1;
  position: relative;
  text-align: right;
  gap: 2rem;
}
.f-right > * {
  position: absolute;
  z-index: 1;
  text-align: right;
}

.aweBlock {
  margin-top: 90px;
  display: flex;
  height: 77vh;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
  gap: 2rem;
}
/* .awesome {
  display: flex;
  flex-direction: column;
  color: #278080;
  font-size: 4.5rem;
  font-weight: bold;
  position: relative;
} */

.awesome {
  display: flex;
  flex-direction: column;
  color: #385a63;
  font: weight 70px;
  font-size: 50px;
  position: relative;
}

.para {
  font-size: 30px;
  color: gray;
  margin: 30px;
}
.cards {
  flex: 1;
  position: relative;
  text-align: left;
  gap: 2rem;
  flex: auto;
  margin: 65px;
}
.cardz {
  flex: 1;
  position: relative;
  text-align: left;
  gap: 2rem;
  flex: auto;
  margin: 75px;
  display: flex;
  background-color: whitesmoke;
  padding: 1rem 0.76rem;
}

/* .cardz img {
  margin: auto;
} */

.cardz h2 {
  line-height: 160%;
}
.cardz p {
  padding-top: 0.5rem;
  line-height: 150%;
  margin-right: 30px;
  margin-left: 30px;
}
.featImg {
  padding: 5px;
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
}
.feImdiv {
  flex: 1;
  position: relative;
  text-align: left;
  gap: 2rem;
  flex: auto;
  margin: 65px;
  display: flex;
  background-color: whitesmoke;
  padding: 1rem 0.76rem;
}
