@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.MySlider {
  margin-top: 90px;
  font-weight: bold;
  font-size: 10rem;
}
.MySlider img {
  border-radius: 30%;
  margin: 0 auto;
}
.SliderPics img {
  border-radius: 30%;
}
.winners {
  font-weight: bold;
  font-size: 5rem;
  color: #385a65;
}
