.feIm {
  padding: 5px;
  width: 450px;
  height: fit-content;
  border-radius: 50%;
  background-color: #a170a5;
}
.feIm img {
  padding: 5px;
  width: 450px;
  height: fit-content;
  border-radius: 50%;
  background-color: #a170a5;
}
.cards {
  flex: 1;
  position: relative;
  text-align: left;
  gap: 2rem;
  flex: auto;
  margin-right: 10px;
  padding-right: 10px;
  border-radius: 50%;
  background-color: #b994f5;
}
.card {
  flex: 1;
  position: relative;
  text-align: left;
  gap: 2rem;
  flex: auto;
  margin: 65px;

  display: flex;
  background-color: whitesmoke;
  padding: 1rem 0.76rem;
}
.card h2 {
  line-height: 160%;
}
.card p {
  padding-top: 0.5rem;
  line-height: 150%;
  margin-right: 30px;
  margin-left: 30px;
}
