.image {
    position: relative;
    cursor: pointer;
}

.pro-card-img{
    display: block;
    max-width: 460px;
    max-height: 300px;
    border-radius: none;
    object-fit: cover;
}


.image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    
}

.image .overlay:hover {
    opacity: 1;
    border-radius: 40px;
}

.shopname {
    color: rgb(13, 13, 36);
    text-decoration: underline;
    cursor: pointer;
}



.onlineSCard{
    border: none;
    border-radius: 30px;
    height: 42rem;
    background: rgba(146, 218, 200, 0.47);
    text-align: center;
}

.shopTitle{
   
    /* font-family: 'Tajawal', sans-serif; */
    font-weight: bolder;
    font-style: oblique;
    border-radius: 10px;
    max-height: 30px;
    padding: 3px;
    margin: 20px;
    background-color: rgba(244, 255, 206, 0.783);
    
}

.shopText{
    font-weight: bolder;
    font-style: oblique;
    border-radius: 10px;
    padding: 3px;
    border-width: 30px;
    background-color: rgba(244, 255, 206, 0.783);
   
}

